# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle GUI config
gradle-app.setting


# Cache of project
.gradletasknamecache

# From https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

# Package Files #
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath
